{% extends 'PodzamenuMainBundle::layout.html.twig' %}

{% block body %}

{% if status == "error" %}
    Попробуйте другое имя пользователя, все поля должны быть заполнены
{% elseif status == "ok" %}
    Регистрация прошла успешно, на указынну почту оправлено письмо, пройдите по ссылке в письме
{% endif %}

<div id="login_content" style="width: 500px; margin: auto;">
    <div id="login_content_main">
        <div id="login_form">
            <form action="/registration/add" method="post">
                <table class="login_table">
                    <tr>
                        <th colspan="2" style="padding-bottom:20px; font-size: 20pt;">Регистрация (все поля обязательны к заполнению)</th>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Логин:&nbsp;&nbsp;</td>
                        <td><input type="text" name="username"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right" >&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:right" >Пароль:&nbsp;&nbsp;</td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td style="text-align:right" >&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:right" >Почта:&nbsp;&nbsp;</td>
                        <td><input type="text" name="email"/></td>
                    </tr>
                    <tr>
                        <td style="text-align:right" >&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right">
                            <input type="submit" value="Регистрация"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div> 
{% endblock %}